html{
   background-color: ivory;
}

 .toolbar {
    height: 60px;
    padding-left: 20px;
    margin-bottom: 30px;;
    display: flex;
    align-items: center;
    background-color: #682f1c;
    color: white;
    font-weight: 600;
  }